/*
 * -------------------------------------------------
 *  NF config file
 * -------------------------------------------------
 * Default config options
 *
 */

// Input and output parameters
params {

    bams = "/path/to/bams/*.bam"
    outdir = "/path/to/outdir"
    help = ''
    mitobim = "/PATH/TO/MITObim.pl"
    mitobimRef = "/PATH/TO/lycPyr_mtDNA.fa"
    ref_strain = "lycPyr_mtDNA"
    manifest.sh = "./bin/manifest.sh"
    mira =  "/PATH/TO/mira_4.0.2_linux-gnu_x86_64_static/bin/mira"
    mira_dir = "/PATH/TO/mira_4.0.2_linux-gnu_x86_64_static/bin/"
    subset_size = '5000000'    
}


profiles {

    standard {
       /*
        * Still needs to be further developed
        */
        process.executor = 'local'
    }

    mfn { includeConfig 'config/mfn.config' }

    rackham {
       /*
        * Still needs to be further developed
        */
        includeConfig 'profile/rackham.config'
    }
}
