/*
 * -------------------------------------------------
 *  NF config file
 * -------------------------------------------------
 * Default config options
 *
 */

// Input and output parameters
params {

    input_tsv_fn = "/path/to/reads.tsv"
    outdir = "/path/to/output/"
    help = ''
    mitobim = "/path/to/MITObim_1.9.1/MITObim.pl"
    mitobimRef = "/path/to/referece.fa"
    ref_strain = "reference"
    manifest.sh = "/path/to/nf_mito-mania/bin/manifest.sh"
    mira =  "/path/to/MIRA_4.0.2/bin/mira"
    mira_dir = "/path/to/MIRA_4.0.2/bin/"
    subset_size = '5000000'    
}


profiles {

    standard {
        process.executor = 'local'
        process.conda = './environment.yml'
    }

    rackham {
        includeConfig 'profile/rackham.config'
    }
}
