params {
    config_profile_name = 'Uppmax rackham profile'
    config_profile_description = 'Profile that works with the rackham cluster on Uppmax'
    project = 'snic2021-22-570'
    clusterOptions = null
    }
process {
    executor = 'slurm'
    clusterOptions = { "-A $params.project ${params.clusterOptions ?: ''}" }
    cpus = 2
    memory = '8 GB'
    time = '2h'
    conda = '/crex/proj/snic2020-16-126/Bop/mtDNA/nf-mito/enviroment.yml'
    
    withLabel: 'FAST' {
        cpus = 1
        memory = '6 GB'
        time = '10m'
    }

    withLabel: 'HIGH_RAM' {
        cpus = 8
        memory = '48 GB'
        time = '12h'
    }
    
}
