/*
 * -------------------------------------------------------------------------
 *  Nextflow config file for running nf-mapping workflow on Uppmax' Rackham
 * -------------------------------------------------------------------------
 *   Use as follows:
 *   nextflow run main.nf -profile rackham
 */

params {
    config_profile_name = 'Uppmax rackham profile'
    config_profile_description = 'Profile that works with the rackham cluster on Uppmax'
    project = 'snic20XX-XX-XXX'
    clusterOptions = null
    }
process {
    executor = 'slurm'
    clusterOptions = { "-A $params.project ${params.clusterOptions ?: ''}" }
    cpus = { 2 * task.attempt }
    memory = { 8.GB * task.attempt }
    time = { 2.h * task.attempt }
    conda = '/crex/proj/melidectes_storage_21-03/melidectes/code/nf_mito-mania/environment.yml'

    errorStrategy = { task.exitStatus in [104, 134, 137, 139, 140, 143, 247] ? 'retry' : 'finish' }
    maxRetries = 3
    maxErrors = '-1'

    withLabel: 'HIGH_RAM' {
        cpus = { 8 * task.attempt }
        memory = { 48.GB * task.attempt }
        time = { 12.h * task.attempt }
    }

    withLabel: 'FAST' {
        cpus = { 1 * task.attempt }
        memory = { 6.GB * task.attempt }
        time = { 10.min * task.attempt }
    }
   
}
